* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: pink;
}

header {
    background-color: violet;
}

header nav ul {
    background-color: black;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 2rem;
    padding: 15px;
}

header nav ul li a:hover {
    color:white
}

header nav ul li a {
    text-decoration: none;
    color: pink;
    font-family: 'Permanent Marker', cursive;
    margin: 5px;
}

.encabezadoPrincipal {
    font-size: 4rem;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.encabezadoSecundario {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 3rem;
}

main div img {
    width: 100%;
    position: relative;
}

footer {
    text-align: center;
    border-top: solid black;
}

footer div a img {
    width: 50px;
    margin: 10px;
    padding: 10px;
}

footer div p {
    font-size: 20px;
    margin: 10px;
}

.titulosSecundarios {
    text-align: center;
    padding: 15px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.encabezadosArticulos {
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    padding: 15px;
    font-size: 30px;
}

.galeriaTrabajos {
    position: absolute;
    margin: 20px;
    border: solid black;
    right: 60px;
    width: 60%;
    height: 40%;
    padding: 15px;
    top: 420px;

}

section article {
    margin: 30px;
}

article div img {
    width: 400px;
}

.galeriaTrabajos2 {
    position: absolute;
    margin: 20px;
    border: solid black;
    right: 60px;
    width: 60%;
    height: 40%;
    padding: 15px;
    top: 1000px;
}

.galeriaTrabajos3 {
    position: absolute;
    margin: 20px;
    border: solid black;
    right: 60px;
    width: 60%;
    height: 40%;
    padding: 15px;
    top: 1500px;
}

.galeriaTrabajos4 {
    position: absolute;
    margin: 20px;
    border: solid black;
    right: 60px;
    width: 60%;
    height: 40%;
    padding: 15px;
    top: 2000px;
}

.galeriaTrabajos5 {
    position: absolute;
    margin: 20px;
    border: solid black;
    right: 60px;
    width: 60%;
    height: 40%;
    padding: 15px;
    top: 2600px;
}

.card1 {
    border: solid black;
    width: 600px;
    position: relative;
    left: 20px;
}

.card2 {
    border: solid black;
    width: 600px;
    position: absolute;
    right: 80px;
    top: 600px;
}

.card3 {
    border: solid black;
    width: 600px;
    position: relative;
    left: 20px;
}

section article div iframe {
    width: 100%;
}

section article div p {
    margin: 10px;;
}

.parrafoBio {
    padding: 30px;
    border: solid black;
    margin: 15px;
}

.fotoBio {
    position: relative;
    left: 470px;
}

body p {
    font-family: Arial, Helvetica, sans-serif;
}

section form div label {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

section form {
    text-align: center;
}

section form div input {
    width: 80%;
    height: 30px;
    border: solid violet 3px;
}

.botones {
    background-color: white;
    width: 100px;
    margin: 5px;
    font-family: 'Permanent Marker', cursive;
}



